body{
  background-color:lightblue;
}
#jungle{
  weight:100;
  border-radius:15px;
  float:right;
}
#div{
  border-radius:15px;
  border:2px solid chocolate;
  float:center;
}
#jungle1{
  weight:30%;
  float:left;
}
#new{
  float:right;
}
#jungle3{
  border:3px solid darkgoldenrod;
  float:center;
  weight:400%;
}
#jungle4{
  border:3px solid darkgoldenrod;
  float:left;
  weight:40%;
}
#jungle5{
  border:3px solid darkgoldenrod;
  float:right;
  weight:30%;
}
#text{
  border:3px solid darkgoldenrod;
}
#button{
  float:center;
}
